body {
    font-family: 'Alexandria', sans-serif;
    background-color: rgb(255, 247, 236);
/* font-family: 'Itim', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Patrick Hand', cursive; */

}
h1{
    font-family: 'Lobster', cursive;
    font-size: xx-large;
}
h3{
    font-family: 'Fredoka One', cursive;
}