body {
    font-family: 'Alexandria', sans-serif;
/* font-family: 'Itim', cursive; */
/* font-family: 'Lobster', cursive; */
/* font-family: 'Patrick Hand', cursive; */

}
h1{
    font-family: 'Fredoka One', cursive;
    font-size: xx-large;
    font-weight: bolder;
}
h2{
    font-family: 'Fredoka One', cursive;
}